@page "/photos"
@model MyPhotos.Presentation.Pages.Photos.PhotosModel
@{
    ViewData["Title"] = "Photos";
}

<head>
    <link href="./style.css" rel="stylesheet" type="text/css" />
</head>
<h1>Photos</h1>

@foreach (var photo in Model.Photos)
{
    <div class="person-view">
        <div>@photo.Id</div>
        <div>@photo.Name</div>
        <img class="photo" src="./training.jpg" alt="@photo.Name" />
    </div>
}
